<h1>My cart</h1>

<div>
    {{myCart}}
</div>

<form action="/api/carts/purchase" method="post">
<button id="buttonPurchase" >Pay and finalize Purchase</button>
</form>

<form action="/static/products" method="get">
    <div>
        <h2>You forgot something? keep buying!</h2>
        <button>Go to products</button>
    </div>
</form>